.transactions {

    .time-stamp {
        float: right;
        color: #666666;
    }

    p {
        color: #666666;
    }

    @media (prefers-color-scheme: dark) {
        .time-stamp {
            color: #fff;      
        }
        
        p {
            color: #fff;
        }
    }
}