<app-header [title]="'Home'"></app-header>

<ion-content class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="currentMonthStanding">
    <!--Available Budget progress bar -->
    <ion-card-header>
      <ion-card-subtitle>Available Budget</ion-card-subtitle>
      <ion-card-title>
        ${{ getAvailableBudget() | number}} of ${{ currentMonthStanding.budget | number }}
      </ion-card-title>
    </ion-card-header>
    <ion-progress-bar [value]="spentBudgetPercentage"></ion-progress-bar>

    <!-- Add Transaction Form -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Add New Transaction</ion-card-subtitle>
      </ion-card-header>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select placeholder="Select One" name="category" [(ngModel)]="newPayment.category">
          <ion-select-option *ngFor="let category of getBudgetCategoryOptions()" [value]="category.id">{{category.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="number" inputmode="decimal" name="amount" clearInput placeholder="$0.00" [(ngModel)]="newPayment.amount">
        </ion-input>
      </ion-item>
      <div class="ion-padding">
        <ion-button expand="block" class="ion-no-margin" (click)="addPayment()">Add</ion-button>
      </div>
    </ion-card>

    <!-- Recent Transactions -->
    <app-recent-transactions *ngIf="currentMonthStanding" [payments]="currentMonthStanding.payments"></app-recent-transactions>
  </div>
</ion-content>