<app-header></app-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Amount spent this month</ion-card-subtitle>
        <ion-card-title>{{monthLabel}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #paymentsChart width="400" height="400"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>